---
layout: "layouts/blog-listing"
title: "My writings"
description: "A collection of posts mostly about programming and technology."
extraDescription: "I write more randomly, in a Twitter-style, over on my <a href='/ramblings' rel='nofollow'>Ramblings</a> section."
permalink: "/blog/"
---
