---
layout: layouts/blog-listing
description: "A random collection of my thoughts from programming and tech to general life."

pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tag/{{ tag | slug }}/
---
