<footer class="main-footer">
  <span class="main-footer__copyright">&copy; Rich Grundy</span>

  <div class="main-footer__social">
      <ul class="social-profiles -footer">
        <li class="social-profiles__item">
          <a class="social-profiles__link" rel="nofollow" href="https://github.com/richguk/">
            <i class="social-profiles__icon icon-github"></i>
          </a>
        </li>

        <li class="social-profiles__item">
          <a class="social-profiles__link" rel="nofollow" href="https://www.instagram.com/richguk/">
            <i class="social-profiles__icon icon-instagram"></i>
          </a>
        </li>

        <li class="social-profiles__item">
          <a class="social-profiles__link" href="mailto:rich@grundy.io">
            <i class="social-profiles__icon icon-envelope"></i>
          </a>
        </li>


        <li class="social-profiles__item">
          <a rel="nofollow" class="social-profiles__link" href="/gpg.asc">
            <i class="social-profiles__icon icon-key"></i>
          </a>
        </li>
      </ul>
  </div>
</footer>
