<header class="main-header">
  <div class="theme-switcher -global"><i class="js-themeswitcher icon-moon" title="Light/Dark mode"></i></div>
  <div class="main-header__logo">
    <a aria-label="Homepage" class="main-header__homelink" href="/">
      <span></span>
      <strong>Rich Grundy</strong>
    </a>
  </div>
  <nav class="main-header__nav main-nav">
    <a href="/blog/">Writings</a>
    <a href="/photography/">Photography</a>
    <a href="/about/">About</a>
  </nav>
</header>
