<!DOCTYPE html>
<html lang="en" data-theme="light" {% if forceDark %}class="-force-dark"{% endif %}>
  <head>
    <meta charset="utf-8">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {{ site.title }}{%- else -%}{{ site.title }}{% endif %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

    <link rel="preload" as="image" href="/assets/images/avatar-sunglasses.svg">
    <link rel="preload" as="image" href="/assets/images/avatar.svg">
    <script>
      const wantsDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const storedPreference = localStorage.getItem('theme');
      if (storedPreference == 'dark' || (!storedPreference && wantsDark)) {
        document.documentElement.setAttribute('data-theme', 'dark')
      }
    </script>
    <link rel="stylesheet" href="{% assetUrl '/assets/css/app.css' %}">
    <script async defer type="text/javascript" src="{% assetUrl '/assets/js/app.js' %}"></script>
    <script async defer data-domain="rich.grundy.io" src="https://plausible.grundy.io/js/plausible.js"></script>
    <link type="application/atom+xml" rel="alternate" href="{{ site.feedUrl }}" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header class="main-header">
      <div class="main-header__logo">
        <a aria-label="Homepage" class="main-header__homelink" href="/">
          <span></span>
          <strong>Rich Grundy</strong>
        </a>
      </div>
      <nav class="main-header__nav main-nav">
        <a href="/blog/" class="{%- if "/blog" in page.url %}-is-active{% endif -%}">Writings</a>
        <a href="/photography/" class="{%- if "/photography" in page.url %}-is-active{% endif -%}">Photography</a>
        <a href="/about/" class="{%- if "/about" in page.url %}-is-active{% endif -%}">About</a>
        <i class="js-themeswitcher {% if forceDark  %}-is-disabled {% endif %}icon-moon theme-switcher" title="Light/Dark mode"></i>
      </nav>
    </header>

    {% block content %}
    {{ content | safe }}
    {% endblock %}

    <footer class="main-footer">
      <span class="main-footer__copyright">&copy; Richard Grundy</span>

      <div class="main-footer__social">
        <ul class="social-profiles -footer">
          <li class="social-profiles__item">
            <a aria-label="Github" class="social-profiles__link" rel="nofollow" href="https://github.com/richguk/">
              <i class="social-profiles__icon icon-github"></i>
            </a>
          </li>

          <li class="social-profiles__item">
            <a aria-label="Email" class="social-profiles__link" href="mailto:rich@grundy.io">
              <i class="social-profiles__icon icon-envelope"></i>
            </a>
          </li>


          <li class="social-profiles__item">
            <a aria-label="GPG Public Key" rel="nofollow" class="social-profiles__link" href="/gpg.asc">
              <i class="social-profiles__icon icon-key"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
