<!DOCTYPE html>
<html lang="en" {% if forceDark %}class="-force-dark" {% endif %}>
  <head>
    <meta charset="utf-8">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {{ site.title }}{%- else -%}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="/images/avatar-circle.svg" type="image/svg+xml">
    <style type="text/css">
  @font-face {
    font-family: 'Catamaran';
    src: local('Catamaran Regular'), local('Catamaran-Regular'),
      url('/fonts/Catamaran-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Catamaran';
    src: local('Catamaran Bold'), local('Catamaran-Bold'),
      url('/fonts/Catamaran-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
    </style>
    <link rel="stylesheet" href="{% assetDigest 'app.css' %}">
    <script async type="text/javascript" src="{% assetDigest 'app.js' %}"></script>
    <script async defer data-domain="rich.grundy.io" src="https://plausible.grundy.io/js/plausible.js"></script>
    <link type="application/atom+xml" rel="alternate" href="{{ site.feedUrl }}" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
