<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% if description %}{{ description }}{% else %}The personal homepage of the fullstack developer from Birmingham - Rich Grundy.{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {{ site.title }}{%- else -%}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="/images/avatar-circle.svg" type="image/svg+xml">

    <link rel="stylesheet" href="{% assetDigest 'app.css' %}">
    <script async type="text/javascript" src="{% assetDigest 'app.js' %}"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
