{% extends "layouts/base.njk" %}

{% block content %}
<main class="main-content -standard {% if centerHeader %}-center{% endif %}">
  <h1 class="main-content__title">{{ title }}</h1>
  <p class="main-content__desc">{{ description }}</p>
  {% if extraDescription %}<p class="main-content__extra-desc">{{ extraDescription | safe }}</p>{% endif %}

  <div class="main-content__body">
    {% block pageContent %}
      {{ content | safe }}
    {% endblock %}
  </div>
</main>
{% endblock %}
