---
layout: layouts/main
---

<main class="main-content -standard">
  <h1 class="main-content__title">{{ title }}</h1>
  <p class="main-content__desc">{{ description }}</p>

  <div class="main-content__body">
    {{ content | safe }}
  </div>
</main>
