@font-face {
  font-family: 'icomoon';
  src:
  url('/assets/fonts/icomoon.woff2?l5650o') format('woff2'),
  url('/assets/fonts/icomoon.woff?l5650o') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-digitalocean:before {
  content: "\e914";
  color: var(--brand-color-digitalocean);
}
.icon-eleventy:before {
  content: "\e916";
}
.icon-laravel:before {
  content: "\e917";
  color: var(--brand-color-laravel);
}
.icon-linode:before {
  content: "\e915";
  color: var(--brand-color-linode);
}
.icon-php:before {
  content: "\e918";
  color: var(--brand-color-php;)
}
.icon-vim:before {
  content: "\e919";
  color: var(--brand-color-vim);
}
.icon-elixir:before {
  content: "\e91a";
  color: var(--brand-color-elixir);
}
.icon-netlify:before {
  content: "\e913";
  color: var(--brand-color-netlify);
}
.icon-vuejs:before {
  content: "\e912";
  color: var(--brand-color-vuejs);
}
.icon-react:before {
  content: "\e911";
  color: var(--brand-color-react);
}
.icon-archlinux:before {
  content: "\e90e";
  color: var(--brand-color-archlinux);
}
.icon-go:before {
  content: "\e90d";
  color: var(--brand-color-go);
}
.icon-python:before {
  content: "\e908";
  color: var(--brand-color-python);
}
.icon-rust:before {
  content: "\e909";
  color: var(--brand-color-rust);
}
.icon-typescript:before {
  content: "\e90a";
  color: var(--brand-color-typescript);
}
.icon-ruby:before {
  content: "\e90b";
  color: var(--brand-color-ruby);
}
.icon-javascript:before {
  content: "\e90c";
  color: var(--brand-color-javascript);
}
.icon-terminal:before {
  content: "\e910";
}
.icon-circle-left:before {
  content: "\e906";
}
.icon-circle-right:before {
  content: "\e907";
}
.icon-moon:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-location:before {
  content: "\e948";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-steam:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-circle-thin:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e902";
}
.icon-key:before {
  content: "\e901";
}
