@font-face {
  font-family: 'icomoon';
  src:
  url('/fonts/icomoon.woff2?okwe2q') format('woff2'),
  url('/fonts/icomoon.woff?okwe2q') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-thin:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e902";
}
.icon-circle-left:before {
  content: "\e906";
}
.icon-left:before {
  content: "\e906";
}
.icon-circle-previous:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e906";
}
.icon-circle-right:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e907";
}
.icon-circle-next:before {
  content: "\e907";
}
.icon-arrow1:before {
  content: "\e907";
}
.icon-moon:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-location:before {
  content: "\e948";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-rss:before {
  content: "\ea9c";
}
.icon-steam:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-key:before {
  content: "\e901";
}
