.taglist {
  --tag-background-color: #2e3039;
  --tag-color: white;
  --tag-active-color: var(--secondary-color);
}

[data-theme="dark"] .taglist, .-force-dark .taglist {
  --tag-background-color: #2e3039;
  --tag-color: white;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  gap: 10px;

  &.-inline {
    display: inline-flex;
    align-items: baseline;
  }

  &__item {
  }

  &__link {
    display: block;
    font-size: 0.875em;
    border: 1px solid transparent;
    background: var(--tag-background-color);
    border-radius: 15px;
    padding: 0.5rem 0.6rem;
    color: var(--tag-color);
    transition: all 250ms ease;

    &.-is-active {
      color: var(--tag-active-color);
      font-weight: bold;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }
}
