.topics {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--main-div-color);

  &__title {
    font-size: 0.9em;
    margin-bottom: 1rem;
  }

  &__list {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 0;
  }
}
