.homepage-nav {
  --nav-color: black;
  --div-color: var(--main-div-color);
  transition: opacity .2s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;

  a {
    width: 124px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }

  div {
    display: inline-block;
    margin: 0 1.5rem;
    background: var(--div-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
  }
}
