.taglist {
  --tag-border-color: #c6c6c6;
  --tag-color: #757575;
}

[data-theme="dark"] .taglist, .-force-dark .taglist {
  --tag-border-color: #575757;
  --tag-color: #a8a8a8;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  gap: 10px;

  &.-inline {
    display: inline-flex;
    align-items: baseline;
  }

  &__item {
  }

  &__link {
    display: block;
    font-size: 0.875em;
    border: 1px solid var(--tag-border-color);
    border-radius: 15px;
    padding: 5px 10px;
    color: var(--tag-color);

    &.-is-active {
      font-weight: bold;
    }

    &:hover {
      color: var(--tag-background-color);
    }
  }
}
