/* vim: set ft=scss: */

.blog-meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.2;
    margin-bottom: 10px;

  &__date {
    font-size: 0.875rem;
    color: var(--date-color);
  }

  &__tag-list {
    margin: 0 !important;

    &:before {
      content: "";
      background: var(--date-color);
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }
}
