.article {
  margin: 0 auto 6rem auto;
  max-width: 1350px;

  &__header {
    background: var(--main-background-color);
    margin: 0 auto;
    padding: 0.75rem;
    border-top-right-radius: 5px;

    &.-nohero {
      @media (min-width: 700px) {
        padding: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
      }

      @media (min-width: 1200px) {
        width: 60%;
        margin-bottom: 2rem;
      }
    }

    &.-hero {
      @media (min-width: 700px) {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
      }

      @media (min-width: 1200px) {
        margin-top: -4rem;
        margin-left: 7.5%;
        width: 65%;
      }
    }
  }


  &__title {
    margin-top: 1rem;
    color: var(--article-header-color);
  }
  &.-hero &__title {
    margin: 0;
  }

  &__hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 700px) {
      height: 200px;
      width: 95%;
    }

    @media (min-width: 1200px) {
      height: 305px;
      width: 85%;
    }
  }

  &__content {
    h1,h2,h3,h4,h5,h6 {
      color: var(--article-other-header-color);
    }


    a {
      text-decoration: underline;
    }


    > p:first-child {
      color: var(--article-header-color);
      font-weight: bold;
      margin-bottom: 3rem;

    }

    ul,ol {
      line-height: 1.3;
    }

    >*:not(.-full,img,picture), .-keep-within {
      margin-left: auto;
      margin-right: auto;
      width: 95%;

      &.full-bleed {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }

      @media (min-width: 850px) {
        width: 70%;
      }

      @media (min-width: 1000px) {
        width: 60%;
      }
    }
  }

  &__image-row {
    max-width: 2048px;
    margin: 0.5rem auto 1.5rem auto;
    display: flex;
    gap: 0.5rem;
    padding: 0 0.5rem;

    &.-padded {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    &.-center {
      justify-content: center;
    }

    video {
      max-width: 100%;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }
}
