.homepage-intro {
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    margin-bottom: 5rem;
  }

  &__title {
    a {
      color: var(--primary-color);

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
      margin-bottom: 0.75rem;
    }
  }

  &__blurb {
    max-width: 800px;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--main-link-color-hover);
      }
    }

    @media (min-width: 1024px) {
      font-size: 1.25rem;
    }
  }
}
