.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2rem;
  z-index: 2;
  flex: 1 0 auto;

  @media (min-width: 700px) {
    margin-top: -5px;
  }

  &__themeswitcher {
    display: block;

    @media (max-width: 700px) {
      margin-top: 4px;
    }
  }

  &__toggle-btn {
    background: inherit;
    border: 0;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    margin: 0 0.5rem 0 0;

    @media (max-width: 700px) {
      opacity: 0;
      height: 0;

      > * { display: none; }
    }

    @media (min-width: 700px) {
      margin-top: -5px;
    }

    a {
      display: inline-block;
      color: inherit;
      font-size: 1.5rem;

      @media (min-width: 700px) {
        font-size: 1rem;
      }

      &:last-child { margin-right: 0; }
      &:hover { color: var(--main-link-color-hover); }

      &.-is-active {
        color: var(--primary-nav-color);
        padding-bottom: 2px;
        border-bottom: 5px solid var(--primary-color);
      }
    }

    .-nav-open & {
      opacity: 1;
      height: auto;

      @media (max-width: 700px) {
        transition: opacity 0.350s ease-out;
        margin: 8rem auto 0 auto;
        flex-direction: column;
        z-index: 2;

        > * { display: block; }
      }
    }
  }

  &__extra-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;

    @media (max-width: 700px) {
      position: absolute;
      top: 1.5rem;
      right: 1.25rem;
    }
  }
}
