.blog-title {
  color: var(--primary-color);
}

.blog-listing {
  --meta-div-color: #545353;
}

.blog-listings-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  @media (min-width: 1200px) {
    flex-direction: row;
    gap: 3rem;
  }

  > div {
    flex: 1;
  }
}

.blog-listings {
  margin-left: 0;
  margin-bottom: 3rem;
  padding-left: 0;
  list-style: none;
}

.blog-list-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
  }

  &__meta {
    color: var(--date-color);
    display: none;
    align-items: center;
    min-width: 60px;

    @media (min-width: 600px) {
      display: flex;
    }

    time { display: block; }
  }

  &__meta:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: var(--date-color);
    border-radius: 50%;
    margin-right: 0.75rem;
  }
}
