.blog-listing {
  --meta-div-color: #545353;
}

.blog-listings {
  max-width: 675px;
  margin-left: 0;
  margin-bottom: 3rem;
  padding-left: 0;
  list-style: none;
}

.blog-list-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
  }

  &__meta {
    color: var(--date-color);
    display: none;
    align-items: center;

    @media (min-width: 600px) {
      display: flex;
    }

    time { display: block; }
  }

  &__meta:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: var(--date-color);
    border-radius: 50%;
    margin-right: 0.75rem;
  }
}
