.main-header {
  color: var(--main-page-header-font-color);
  display: flex;
  margin: 1rem auto 3rem auto;
  max-width: 80rem;
  align-items: center;
  padding: 0 0.75rem;

  @media (min-width: 700px) {
    margin-top: 2.5rem;
  }

  &__logo {
    flex: 1 0 auto;
    z-index: 2;

    .-nav-open & {
      @media (max-width: 700px) {
        background-color: var(--main-background-color);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 0.75rem;
      }
    }
  }

  &__homelink {
    color: inherit;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;

    span {
      background: url(/assets/images/avatar.svg);
      display: block;
      width: 55px;
      height: 55px;
      background-size: 55px 55px;
      border-radius: 50%;
      border: 2px solid var(--main-div-color);
      margin-right: 0.75rem;
    }

    &:hover span {
      background-image: url(/assets/images/avatar-sunglasses.svg);
    }
  }
}

