/* vim: set ft=scss: */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #3497fc; }
}

.homepage {
  padding: 3rem 0.75rem 0 0.75rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__intro {
    margin-bottom: 1.5rem;
  }

  &__avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 0.75rem;

    @media (min-width: 700px) {
    width: 200px;
    height: 200px;
    }
  }

  &__title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 8px solid #3497FC;
    margin-bottom: 0;
    animation:
      typing 1.5s steps(40, end),
      blink-caret .5s step-end infinite;

    span {
      color: var(--me-color);
    }

    &.-is-done {
      border-color: transparent;
      animation: none;
    }
  }

  &__content {
    margin-bottom: 1rem;
  }

  &__bio {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;
  }

  &__bio-link {
    display: block;
    font-size: 0.9rem;
    color: #626060;
    text-decoration: underline;
    margin-top: 1rem;
  }

  &__loadable {
    opacity: 0;
    height: 0;
    transition: opacity .2s;

    &.-is-done {
      opacity: 1;
      height: auto;
    }
  }
}
