/* vim: set ft=scss: */

.article {
  margin: 0 auto 6rem auto;
  max-width: 1350px;

  &__header {
    background: var(--main-background-color);
    margin: 0 auto 1.5rem auto;
    padding: 0.75rem;
    border-top-right-radius: 5px;

    &.-nohero {
      @media (min-width: 700px) {
        padding: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: 1200px) {
        width: 60%;
        margin-bottom: 4rem;
      }
    }

    &.-hero {
      @media (min-width: 700px) {
        padding: 1.5rem;
      }

      @media (min-width: 1200px) {
        margin-top: -4rem;
        margin-left: 7.5%;
        width: 65%;
      }
    }
  }


  &__title {
    margin-top: 1rem;
    color: var(--article-header-color);
  }
  &.-hero &__title {
    margin: 0;
  }

  &__hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 700px) {
      height: 200px;
      width: 95%;
    }

    @media (min-width: 1200px) {
      height: 305px;
      width: 85%;
    }
  }

  &__content {
    margin: 0 0.75rem;

    p:first-child {
      color: var(--article-intro-color);
      font-weight: bold;
      margin-bottom: 3rem;
    }

    a {
      text-decoration: underline;
    }

    >*:not(.-full,img), .-keep-within {
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 700px) {
        width: 95%;
      }

      @media (min-width: 850px) {
        width: 70%;
      }

      @media (min-width: 1000px) {
        width: 60%;
      }
    }
  }
}
