.theme-switcher {
  color: #888;
  margin-left: 1rem;
  cursor: pointer;

  &.-is-disabled {
    color: #333;
    cursor: unset;
  }

  &:before {
    content: "\e9d4";
  }

  [data-theme="dark"] & {
    &:before {
      content: "\e904"
    }
  }
}
