.main-content {
  max-width: 80rem;
  margin: 0 auto 4rem auto;
  padding: 1rem;

  @media (min-width: 700px) {
    padding: 0 1.5rem;
  }

  &.-center {
    text-align: center;
  }

  &__title {
    margin-bottom: 0;

  }

  &__desc {
    color: var(--main-heading-color);
    margin-bottom: 3rem;
  }

  &__extra-desc {
    font-size: 0.9em;
    color: var(--main-sub-heading-color);
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  &__body {
    text-align: left;
  }
}
