.about {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0.75rem;

  &__content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

    @media (min-width: 700px) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 850px) {
      margin-left: 25%;
      width: 70%;
    }

    @media (min-width: 1000px) {
      margin-left: auto;
      margin-right: 15%;
      width: 60%;
    }
  }
}
