.blog-card-wrapper {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 0;
  margin-top: 0;

  .blog-card {
    @media (min-width: 450px) {
      max-width: calc(100%/2);
    }

    @media (min-width: 850px) {
      max-width: calc(100%/4);
    }
  }
}

.blog-card {
  display: block;
  padding: 0.5rem 1rem;
  flex: 1 1 auto;
  transition: transform .2s ease;

  &:hover {
    transform: scale(1.05);
  }


  &__link {
    color: var(--main-font-color);
    display: block;

    &:hover {
      color: var(--main-font-color);
      text-decoration: none;
    }
  }

  &__hero {
    position: relative;
    display: block;
    height: 100px;
    background-size: cover;
  }

  &__hero-icon {
    position: absolute;
    top: 0.85rem;
    right: 1rem;
    width: 32px;
    height: 32px;
  }

  &__title {
    margin-top: 1rem;
    padding-right: 0.5rem;
    margin-bottom: 0.25rem;

    .blog-card:hover & {
      color: var(--primary-color);
    }
  }

  &__date {
    font-size: 1rem;
    color: var(--alt-color);
  }

  &__desc {
    font-size: 1rem;
    color: var(--subtle-alt-color);
    margin-bottom: 0.5rem;
  }
}
