/* vim: set ft=scss: */

.main-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0.75rem;

  @media (min-width: 700px) {
    padding: 0 1.5rem;
  }

  &__title {
    margin-bottom: 0;
  }

  &__desc {
    color: var(--main-sub-heading-color);
    margin-bottom: 3rem;
  }
}
