:root, [data-theme="light"] {
  --primary-color: #66c3ff;
  --secondary-color: #e55381;
  --main-background-color: white;
  --main-font-color: #41464d;
  --main-link-color: #0077cc;
  --main-link-color-hover: #0093ff;
  --main-div-color: #ccc;
  --main-heading-color: #333;
  --main-sub-heading-color: #757575;
  --code-background: #181818;
  --code-border: transparent;
  --code-background: #141421;
  --me-color: #3a4c5a;
  --border-color: #eee;
  --border-alt-color: #888;
  --alt-background-color: #272a2d;
  --alt-color: #333;
  --subtle-alt-color: #737373;
  --codeblock-color: #e5a638;
  --date-color: #30363e;
  --article-header-color: black;

  --brand-color-digitalocean: #0080ff;
  --brand-color-linode: #00a95c;
  --brand-color-netlify: #00c7b7;
  --brand-color-laravel: #ff2d20;
  --brand-color-php: #777bb4;
  --brand-color-vim: #019733;
  --brand-color--archlinux: #1793d1;
  --brand-color-go: #00add8;
  --brand-color-rust: black;
  --brand-color-python: #3776ab;
  --brand-color-javascript: #f7df1e;
  --brand-color-typescript: #007acc;
  --brand-color-react: #61dafb;
  --brand-color-vuejs: #4fc08d;
  --brand-color-ruby: #cc342d;
  --brand-color-elixir: #4e2a8e;
}

[data-theme="dark"], .-force-dark {
  --primary-color: #52aef4;
  --secondary-color: #06D6A0;
  --main-background-color: #181d24;
  --main-font-color: #a7b3c1;
  --main-link-color: var(--primary-color);
  --main-link-color-hover: #addeff;
  --main-div-color: #3e3e3e;
  --main-heading-color: #ffffff;
  --main-sub-heading-color: #b3b3b3;
  --code-background: #121417;
  --code-border: #4d4d4d;
  --me-color: #7ca1bd;
  --border-color: #4f5051;
  --border-alt-color: #eee;
  --alt-background-color: #1a1e22;
  --alt-color: #d0cfcf;
  --subtle-alt-color: #959393;
  --codeblock-color: white;
  --date-color: #a4a4a4;
  --article-header-color: #ffffff;
  --article-other-header-color: #06D6A0;
  --main-page-header-font-color: #ffffff;
}


