:root, [data-theme="light"] {
  --primary-color: #01b989;
  --secondary-color: #66c3ff;
  --main-background-color: white;
  --main-font-color: #41464d;
  --main-link-color: #0077cc;
  --main-link-color-hover: #0093ff;
  --main-div-color: #ccc;
  --main-heading-color: #333;
  --main-sub-heading-color: #757575;
  --main-page-header-font-color: var(--main-font-color);
  --primary-nav-color: var(--main-font-color);
  --code-background: #181818;
  --code-border: transparent;
  --code-background: #141421;
  --me-color: #3a4c5a;
  --border-color: #eee;
  --border-alt-color: #888;
  --alt-background-color: #272a2d;
  --alt-color: #333;
  --subtle-alt-color: #737373;
  --codeblock-color: #ffa200;
  --date-color: #30363e;
  --blockquote-background: #f4f4f4;
  --article-header-color: var(--primary-color);
  --color-mantle: #e6e9ef;

  --text-color-green: #a6e3a1;
  --text-color-red: #f38ba8;

  --microblog-background: #f9f9f9;
  --microblog-border-color: #e8e8e8;

  --default-hero-color: #cba6f7;

  --tag-background-color: #1e1e2e;
  --tag-text-color: white;
  --tag-active-text-color: var(--secondary-color);
}

[data-theme="dark"], .-force-dark {
  --primary-color: #a6e3a1;
  --secondary-color: #94e2d5;
  --main-background-color: #11111b;
  --main-font-color: #cdd6f4;
  --main-link-color: #89b4fa;
  --main-link-color-hover: #addeff;
  --main-div-color: #313244;
  --main-heading-color: #cdd6f4;
  --main-sub-heading-color: #b3b3b3;
  --primary-nav-color: white;
  --code-background: #11111b;
  --code-border: #4d4d4d;
  --me-color: #94e2d5;
  --border-color: #4f5051;
  --border-alt-color: #eee;
  --alt-background-color: #1a1e22;
  --alt-color: #bac2de;
  --subtle-alt-color: #a6adc8;
  --codeblock-color: #f9e2af;
  --date-color: #a4a4a4;
  --main-page-header-font-color: #ffffff;
  --article-header-color: #a6e3a1;
  --article-other-header-color: #cdd6f4;
  --article-intro-color: #cdd6f4;
  --article-list-title-color: #cdd6f4;
  --blockquote-background: #111111;
  --color-mantle: #1e2030;

  --text-color-red: #f38ba8;
  --text-color-green: #a6e3a1;

  --microblog-background: #1b2735;
  --microblog-border-color: #1b2735;

  --default-hero-color: #cba6f7;

  --tag-background-color: #1e1e2e;
  --tag-text-color: white;
  --tag-active-text-color: var(--secondary-color);
}

:root {
  --brand-color-digitalocean: #0080ff;
  --brand-color-git: #f05032;
  --brand-color-linode: #00a95c;
  --brand-color-netlify: #00c7b7;
  --brand-color-laravel: #ff2d20;
  --brand-color-php: #777bb4;
  --brand-color-vim: #019733;
  --brand-color-neovim: #81ba64;
  --brand-color-archlinux: #1793d1;
  --brand-color-go: #00add8;
  --brand-color-rust: black;
  --brand-color-python: #3776ab;
  --brand-color-javascript: #f7df1e;
  --brand-color-typescript: #007acc;
  --brand-color-react: #61dafb;
  --brand-color-vuejs: #4fc08d;
  --brand-color-ruby: #cc342d;
  --brand-color-elixir: #4e2a8e;
  --brand-color-chrome: #f05032;
  --brand-color-firefox: #f05032;
  --brand-color-cloudflare: #f05032;
}
