:root {
  --main-background-color: white;
  --main-font-color: #333;
  --main-link-color: #0077cc;
  --main-link-color-hover: #0093ff;
  --main-div-color: #ccc;
  --main-sub-heading-color: #757575;
  --code-background: #3a3b3c;
  --me-color: #3a4c5a;
}


[data-theme="dark"], .-force-dark {
  --main-background-color: #272a2d;
  --main-font-color: #fff;
  --main-link-color: #b9dcff;
  --main-link-color-hover: #7fb0e1;
  --main-div-color: #717171;
  --main-sub-heading-color: #b3b3b3;
  --code-background: #3a3b3c;
  --me-color: #7ca1bd;
}
