---
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% assetUrl '/assets/css/app.css' %}">
    <script defer type="text/javascript" src="{% assetUrl '/assets/js/ramblings.js' %}"></script>

    <meta name="ROBOTS" content="noindex,nofollow">
    <meta name="robots" content="noindex">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
