<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    {% stylesheet application %}
  </head>

  <body>
  <header class="site-header" role="banner">
      <div class="container">
        <a href="/" class="logo"><img src="{% asset_path logo.png %}" alt="Rich Grundy" class="site-logo"></a>

        <nav role="navigiation">
          <ul class="site-nav">
            <li><a href="/about/">About</a>
            <li><a href="/blog">Blog</a>
          </ul>
        </nav>
      </div>
    </header>

    {% if page.hero %}
      <div class="hero" style="background-image: url({{ page.hero }});"></div>
    {% endif %}

    <div class="site-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        &copy; Rich Grundy 2014.
      </div>
    </footer>
  </body>
</html>
