---
title: "About me"
layout: layouts/main
---

<div class="about">
  <div class="about__content">
    <h1 class="about__title">About me</h1>

    <p>My name is Rich. I'm a software engineer from south Birmingham, UK.</p>

    <p>During the day I'm a software engineer for <u>ZenEducate.com</u>,
    working on a Ruby on Rails and React application.</p>

    <p>I have over 10 years experience with Ruby on Rails, JavaScript, HTML and
    CSS. I also have experience with relational databases; MySQL (10+ years),
    Postgres (3+ years).</p>

    <p>Additionally, I have experience with Elixir/Phoenix, PHP, Python, VueJS,
      ReactJS, NodeJS, ExpressJS, Ansible, Docker, Kubernetes and many
      more.</p>

    <p style="font-weight: bold">Feel free to drop me an email at <a
      href="mailto:rich@grundy.io">rich@grundy.io</a> and request my résumé if
    you want to know more.</p> <p>

    <hr class="-short-within-content">

    <p>Outside of my day job I'm a keen <a
    href="/photography/">photographer</a>, gamer and mountain biker. In fact I spend a
  lot of my spare time riding bikes all over.</p>

    <p><img src="/images/bikes.jpg"></p>

    <p>I own two mountain bikes; a Carbon YT Jeffsy 29er (2017, pictured) and a
    Commencal Meta Hard Tail (2019). Both fantastic bikes to ride.</p>

    <hr class="-short-within-content">

    <p><img src="/images/office.jpg"></p>

    <p>This is the office space I share with my beautiful wife. We converted
our spare bedroom into a usable area for us to both work and relax in. This is
where I spend most of my coding/gaming time (I'm the one on the right).</p>

    <h5>Desktop / Gaming rig</h5>

    <ul>
      <li>AMD Ryzen 3700x</li>
      <li>ASRock X470 Taichi</li>
      <li>48GB 3200Mhz DDR4</li>
      <li>Nvidia 1080 GTX</li>
      <li>Dell U2515h 25" 1440p IPS (60hz) monitor</li>
      <li>AOC 24G2U 24" 1080p (144hz) monitor (not pictured)</li>
      <li>Mouse is Logitech G502 Proteus Spectrum RGB</li>
      <li>Keyboard is Ducky One 2 Mini RGB (not pictured)</li>
    </ul>

    <p>I use ArchLinux as my main operating system. I normally dual boot into
    Windows, or run Windows in KVM VM with GPU passthrough, whenever I want to
    game. You can learn more about my setup on <a
    href="/blog/archlinux-on-encrypted-btrfs-with-systemd-boot-and-kde/">this
  post</a> or from <a href="https://github.com/richguk/dotfiles">my
  dotfiles</a>.</p>

  </div>
</div>
