---
title: "About me"
layout: layouts/pages
centerHeader: true
---

<div class="about">
    <p>My name is Rich. I'm a software engineer from south Birmingham, UK.</p>

    <p>During the day I'm a technical lead / engineering manager for <u>ZenEducate.com</u>,
    working on a Ruby on Rails and React/React native app.</p>

    <p>I have over 10 years experience with Linux, Git, Ruby on Rails, JS/TS, HTML and
    CSS. I also have experience with relational databases; MySQL, Postgres.</p>

    <p>Additionally, I have experience with Elixir/Phoenix, PHP, Python, VueJS,
      ReactJS, ExpressJS, Ansible, Docker, Kubernetes and Lua.</p>

    <p>Currently playing around / learning Golang and Rust.</p>

    <p style="font-weight: bold">Feel free to drop me an email at <a
      href="mailto:rich@grundy.io">rich@grundy.io</a> and request my résumé if
    you want to know more.</p> <p>
</div>
