---
permalink: /feed.xml
eleventyExcludeFromCollections: true

metadata:
  title: "Rich Grundy"
  subtitle: "A random collection of thoughts from programming, tech to general life."
  author:
    name: "Richard Grundy"
    email: "rich@grundy.io"


---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ site.feedUrl }}" rel="self"/>
  <link href="{{ site.baseUrl }}"/>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <id>{{ site.baseUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.post %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.baseUrl) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>

