---
description: "I'm a full stack developer from the UK with over 10 years experience. I currently work for Zen Educate as a software engineer."
layout: layouts/base
priority: 1
---

<main class="homepage main-content">
  <div class="homepage-intro">
    <h1 class="homepage-intro__title">Hi, I'm <a href="/about/">Rich</a>.</h1>
    <p class="homepage-intro__blurb">
      I’m a software engineer from the UK. This space is a random collection of my thoughts + some photography.
    </p>
  </div>

  <div class="homepage-ramblings">
    <h2 class="homepage-ramblings__title h3">Ramblings</h2>

    <ul class="blog-card-wrapper">
      {% for post in collections.post | reverse | limit(4) %}
      <li class="blog-card">
        <a href="{{ post.url }}" class="blog-card__link">
          <div class="blog-card__hero" style='{% if not post.data.hero %}background-color: {{post.data.heroColor | default("black")}};padding-top: 90px;{% endif %}{% if post.data.hero -%}; background-image: url("{{post.data.heroBaseUrl}}/hero-small.jpg"); background-image: image-set(url("{{post.data.heroBaseUrl}}/hero-small.avif") type("image/avif"), url("{{post.data.heroBaseUrl}}/hero-small.webp") type("image/webp"),url("{{post.data.heroBaseUrl}}/hero-small.jpg") type("image/jpg")){%- endif %}'></div>
          <h3 class="blog-card__title h5">{{ post.data.title }}</h3>
          <p class="blog-card__desc">{{ post.data.description }}</p>
          <time datetime="{{ post.date | htmlDateString }}" class="blog-card__date">{{ post.date | readableDate }}</time>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="homepage-ramblings__archive-link">
      <a href="/blog/">View archive &gt;</a>
    </div>
  </div>

  <div>
    <h2 class="h3">Me on the web</h2>
        <ul class="social-profiles">
        <li class="social-profiles__item">
          <a aria-label="Github" class="social-profiles__link" rel="nofollow" href="https://github.com/richguk/">
            <i class="social-profiles__icon icon-github"></i>
            <span class="social-profiles__label">code</span>
            <span class="social-profiles__link-text">github.com/<strong>richguk</strong></span>
          </a>
        </li>

        <li class="social-profiles__item">
          <a aria-label="Email" class="social-profiles__link" href="mailto:rich@grundy.io">
            <i class="social-profiles__icon icon-envelope"></i>
            <span class="social-profiles__label">email</span>
            <span class="social-profiles__link-text">rich@grundy.io</span>
          </a>
        </li>

        <li class="social-profiles__item">
          <a aria-label="GPG Public Key" rel="nofollow" class="social-profiles__link" href="/gpg.asc">
            <i class="social-profiles__icon icon-key"></i>
            <span class="social-profiles__label">gpg</span>
            <span class="social-profiles__link-text -gpg"><span>6C85</span><span>5408</span><span>C8D0</span><span>31F5</span></span>
          </a>
        </li>
      </ul>
  </div>
</main>
