---
description: "I'm a fullstack software engineer from the UK with over 15 years experience. I’m currently tech lead for Stinkyink.com."
layout: layouts/html
---

  <main  class="homepage js-homepage">
    <div class="homepage__intro">
      <img class="homepage__avatar" src="/images/avatar.svg" alt="Rich Grundy">
      <h1 class="text-get-big homepage__title">Hello. <span>I'm Rich.</span></h1>
    </div>

    <div class="homepage__content js-homepage-content">
      <p class="homepage__bio">I'm a fullstack software engineer from the UK with over 15 years experience. I’m currently the tech lead for Stinkyink.com.</p>

      <ul class="social-profiles">
        <li class="social-profiles__item">
          <a aria-label="Github" class="social-profiles__link" rel="nofollow" href="https://github.com/richguk/">
            <i class="social-profiles__icon icon-github"></i>
            <span class="social-profiles__label">code</span>
            <span class="social-profiles__link-text">github.com/<strong>richguk</strong></span>
          </a>
        </li>

        <li class="social-profiles__item">
          <a aria-label="Instagram" class="social-profiles__link" rel="nofollow" href="https://www.instagram.com/richguk/">
            <i class="social-profiles__icon icon-instagram"></i>
            <span class="social-profiles__label">photo</span>
            <span class="social-profiles__link-text">instagram.com/<strong>richguk</strong></span>
          </a>
        </li>

        <li class="social-profiles__item">
          <a aria-label="Email" class="social-profiles__link" href="mailto:rich@grundy.io">
            <i class="social-profiles__icon icon-envelope"></i>
            <span class="social-profiles__label">email</span>
            <span class="social-profiles__link-text">rich@grundy.io</span>
          </a>
        </li>


        <li class="social-profiles__item">
          <a aria-label="GPG Public Key" rel="nofollow" class="social-profiles__link" href="/gpg.asc">
            <i class="social-profiles__icon icon-key"></i>
            <span class="social-profiles__label">gpg</span>
            <span class="social-profiles__link-text -gpg"><span>6C85</span><span>5408</span><span>C8D0</span><span>31F5</span></span>
          </a>
        </li>
      </ul>
    </div>
  </main>
  <hr style="max-width: 100px">
  <div class="theme-switcher -homepage"><i class="js-themeswitcher icon-moon" title="Light/Dark mode"></i></div>

  <nav class="homepage-nav">
    <a href="/blog">My Writings</a>
    <div></div>
    <a href="/photography">Photography</a>
  </nav>

  <div class="homepage-blog-wrapper">
    <h3 class="homepage-blog-wrapper__title">Latest Posts</h3>
    <ul>
      {% for post in collections.post | reverse | limit(5) %}
        <li class="homepage-blog">
          <a href="{{ post.url }}" class="homepage-blog__title">{{ post.data.title }}</a>
          <time datetime="{{ post.date | htmlDateString }}" class="homepage-blog__date">{{ post.date | readableDate }}</time>
        </li>
      {% endfor %}
    </ul>
  </div>
