---
layout: layouts/photography
title: "Photography"
description: "A collection of images from my side photography hobby."
forceDark: true
---
<main>
  <div class="main-content -photography">
    <h1 class="main-content__title">{{ title }}</h1>
    <p class="main-content__desc">{{ description }}</p>
  </div>

  <div class=" gallery">
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/021.jpg"><img src="//media.rich.grundy.io/photos/smalls/021.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/001.jpg"><img src="//media.rich.grundy.io/photos/smalls/001.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/002.jpg"><img src="//media.rich.grundy.io/photos/smalls/002.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/003.jpg"><img src="//media.rich.grundy.io/photos/smalls/003.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/004.jpg"><img src="//media.rich.grundy.io/photos/smalls/004.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/005.jpg"><img src="//media.rich.grundy.io/photos/smalls/005.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/006.jpg"><img src="//media.rich.grundy.io/photos/smalls/006.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/007.jpg"><img src="//media.rich.grundy.io/photos/smalls/007.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/020.jpg"><img src="//media.rich.grundy.io/photos/smalls/020.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/009.jpg"><img src="//media.rich.grundy.io/photos/smalls/009.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/019.jpg"><img src="//media.rich.grundy.io/photos/smalls/019.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/014.jpg"><img src="//media.rich.grundy.io/photos/smalls/014.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/011.jpg"><img src="//media.rich.grundy.io/photos/smalls/011.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/010.jpg"><img src="//media.rich.grundy.io/photos/smalls/010.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/022.jpg"><img src="//media.rich.grundy.io/photos/smalls/022.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/017.jpg"><img src="//media.rich.grundy.io/photos/smalls/017.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/018.jpg"><img src="//media.rich.grundy.io/photos/smalls/018.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/008.jpg"><img src="//media.rich.grundy.io/photos/smalls/008.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/000.jpg"><img src="//media.rich.grundy.io/photos/smalls/000.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/024.jpg"><img src="//media.rich.grundy.io/photos/smalls/024.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/016.jpg"><img src="//media.rich.grundy.io/photos/smalls/016.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/025.jpg"><img src="//media.rich.grundy.io/photos/smalls/025.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/023.jpg"><img src="//media.rich.grundy.io/photos/smalls/023.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="//media.rich.grundy.io/photos/phats/013.jpg"><img src="//media.rich.grundy.io/photos/smalls/013.jpg"></a>
  </div>
</main>
