---
layout: layouts/base
title: "Photography"
description: "A collection of images from my side photography hobby."
mainClass: "-photography"
---

{% include "layouts/_header.njk" %}

<main>
  <div class="main-content -photography">
    <h1 class="main-content__title">{{ title }}</h1>
    <p class="main-content__desc">{{ description }}</p>
  </div>

  <div class=" gallery">
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/021.jpg"><img src="/images/photography/phats/021.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/001.jpg"><img src="/images/photography/phats/001.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/002.jpg"><img src="/images/photography/phats/002.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/003.jpg"><img src="/images/photography/phats/003.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/004.jpg"><img src="/images/photography/phats/004.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/005.jpg"><img src="/images/photography/phats/005.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/006.jpg"><img src="/images/photography/phats/006.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/007.jpg"><img src="/images/photography/phats/007.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/020.jpg"><img src="/images/photography/phats/020.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/009.jpg"><img src="/images/photography/phats/009.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/019.jpg"><img src="/images/photography/phats/019.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/014.jpg"><img src="/images/photography/phats/014.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/011.jpg"><img src="/images/photography/phats/011.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/010.jpg"><img src="/images/photography/phats/010.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/022.jpg"><img src="/images/photography/phats/022.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/017.jpg"><img src="/images/photography/phats/017.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/018.jpg"><img src="/images/photography/phats/018.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/008.jpg"><img src="/images/photography/phats/008.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/000.jpg"><img src="/images/photography/phats/000.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/024.jpg"><img src="/images/photography/phats/024.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/016.jpg"><img src="/images/photography/phats/016.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/025.jpg"><img src="/images/photography/phats/025.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/023.jpg"><img src="/images/photography/phats/023.jpg"></a>
    <a class="js-glightbox" data-gallery="myimages" href="/images/photography/phats/013.jpg"><img src="/images/photography/phats/013.jpg"></a>
  </div>

</main>

{% include "layouts/_footer.njk" %}

